.scroller {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  margin: 16px 0px!important;
  max-height: calc(100% - 284px);
  overflow: auto;
  padding-right: 8px;
}

.scroller::-webkit-scrollbar {
  width: 8px;
}
 
.scroller::-webkit-scrollbar-track {
  background: #2F2F37;
}
 
.scroller::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.draggable {
  display: flex;
  align-items: center;
}

.draggable svg {
  margin-right: 8px;
  cursor: pointer;
}

.price {
  display: flex;
  align-items: center;
}

.price svg {
  width: 33px;
  height: 33px;
  margin-left: 8px;
}

.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}