.ingredient {
  text-align: center;
  flex-basis: 272px;
  position: relative;
  cursor: pointer;
}

.image {
  display: block;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  min-height: 48px;
}