.modal {
  background: #1C1C21;
  border-radius: 40px;
  width: 720px;
  margin: auto;
  position: relative;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  margin-bottom: 0px;  
}

.close {
  cursor: pointer;
}

.close svg {
  display: block;
}

.body {}