.tab {
  display: flex;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.scroller {
  overflow: auto;
  max-height: calc(100% - 195px);
}

.scroller::-webkit-scrollbar {
  width: 8px;
}
 
.scroller::-webkit-scrollbar-track {
  background: #2F2F37;
  margin-bottom: 52px;
}
 
.scroller::-webkit-scrollbar-thumb {
  background: #8585AD;
}